appdirs
aws-mfa
certifi
chardet
chrome-gnome-shell
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distlib
distro
filelock
flask-migrate
hidpidaemon
idna
importlib-metadata
kernelstub
language-selector
launchpadlib
louis
macaroonbakery
mininet
more-itertools
netifaces
oauthlib
ovs
pip-chill
pop-transition
powerline-status
psutil
pycups
pydbus
pygobject
pyjwt
pymacaroons
pynacl
pyopenssl
pyrfc3339
python-apt
python-debian
python-xlib
pyxdg
pyyaml
repolib
repoman
screen-resolution-extra
sessioninstaller
simplejson
sklearn
sortedcontainers
streamlit
systemd-python
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
virtualenv
xdg
xkit
zipp
